.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px;
  cursor: pointer;
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.logo-container .site-logo {
  height: 38px;
}

.navigation .nav-list {
  display: flex;
}

.navigation .nav-item {
  padding: 0 15px;
}

.navigation .nav-link {
  color: #37393f;
  font-family: 'Poppins-regular';
  font-size: 18px;
  font-weight: 400;
}

.btn {
  padding: 15px 20px;
  background-color: #6b77e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins-regular';
  font-size: 18px;
  font-weight: 600;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.work-h {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 20px;
}

.work-h2 {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Poppins-regular';
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  width: 386px;
  height: 383px;
  text-align: center;
  background-color: #f4f4f4;
  margin: 20px;
  position: relative;
}

.card-h {
  font-size: 25px;
  color: #37393f;
  font-weight: 600;
  font-family: 'Poppins-regular';
  padding: 35px;
}

.card-p {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Poppins-regular';
  color: #7d7d7d;
  margin: 30px;
}

.icon-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}


.testimonials {
  color: #6b77e5;
  font-size: 18px;
  font-family: 'Poppins-regular';
  margin: 70px 0;
  text-align: center;
  font-family: 600;
}

.pre-section {
  position: relative;
  background-image: url("../imgs/rectangle.png");
  background-position: center;
  height: 400px;
  width: 100%;
  color: #37393f;
  border-radius: 20px;
}

.pre-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.pre-h {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Poppins-regular';
}

.pre-p {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins-regular';
  margin-bottom: 20px;
}

.pre-text {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Poppins-regular';
  width: 511px;
  margin: 20px auto 40px;
  margin-bottom: 70px;
}

.play-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b77e5;
}
.play-icon img {
  width: 60;
  height: auto;
}

.avatar-text {
  text-align: center;
  margin: 40px;
}

.avatar-text h4 {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins-regular';
  margin-bottom: 20px;
}

.avatar-text h5 {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Poppins-regular';
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.avatar {
  position: relative;
  width: 386px;
}

.avatar-info1 {
  position: absolute;
  bottom: 20px;
  background: #ffffff;
  color: #37393f;
  left: 30px;
  text-align: center;
  padding: 10px 0;
  width: 341px;
  height: 70px;
}

.avatar-info1 h6 {
  font-weight: 600;
  font-size: 25px;
  font-family: 'Poppins-regular';
}

.avatar-info1 p {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Poppins-regular';
  margin-top: 12px;
  color: #7d7d7d;
}